*.pydevproject
*.project
*.checkstyle
*.prefs
*.git
*.metadata
.metadata
*.settings
settings
test.py
*.pyo
*.pyc
test.xml
*xbmcstubs-master*
*script.module.seko.test*
sh.py
sh_obs.py
*ext_shortest*
script.module.core.ultrastream/build_sh.xml
script.service.seko.ultrastream/build_sh.xml
script.module.core.ultrastream/build_all.xml